<div class="questionnaire">
    <form (ngSubmit)="onSubmitQuestions()">
        <ul class="questions-container">
            <div *ngFor="let question of questions; let i = index">
                <span class="color-container">{{question.question}}</span>
                <input class="anwser" name="userAnwsers" [(ngModel)]="userAnwsers[i]" />
            </div>
        </ul>
        <ul class="multi-choice-questions-container">
            <li *ngFor="let question of multiChoiceQuestions; let i = index">
                <span class="color-container">{{question.question}}</span>
                <label>
                    <input type="radio" name="userMultiAnwsers" value="1" [(ngModel)]="userMultiAnwsers[i]" />
                </label>
                <label>
                    <input type="radio" name="userMultiAnwsers" value="2" [(ngModel)]="userMultiAnwsers[i]" /> 2
                </label>
                <label>
                    <input type="radio" name="userMultiAnwsers" value="3" [(ngModel)]="userMultiAnwsers[i]" /> 3
                </label>
                <label>
                    <input type="radio" name="userMultiAnwsers" value="4" [(ngModel)]="userMultiAnwsers[i]" /> 4
                </label>
                <label>
                    <input type="radio" name="userMultiAnwsers" value="5" [(ngModel)]="userMultiAnwsers[i]" /> 5
                </label>
            </li>
        </ul>
        <button>Submit Anwsers!</button>
    </form> @if(isAdmin === true) { <div class="add-new-container">Add new Questions</div>
    <form (ngSubmit)="addNewQuestions()">
        <label>Add new question:</label>
        <input class="new-question" [(ngModel)]="newQuestion" name="first" />
        <label>Add new multi chioce question:</label>
        <input class="new-question" [(ngModel)]="newMultiQuestion" name="first" />
        <button>Add new questions</button>
    </form>}
</div>